@import "keep-react/css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-Montserrat {
    /* Define your font styles here */
    font-family: 'Montserrat', sans-serif;
    /* Add more styles if needed */
  }
}

@layer base {
  html {
    @apply font-Montserrat;
  }
  body {
    background: #15191d;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  @apply text-[#3f9fff];
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #131318;
  border-radius: 4px;
}
